@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@200&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    color: white;
    background-color: $white;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    @include breakpoint-max("large") {
        font-size: 56%;
    }
    @include breakpoint-max("s-tablet") {
        font-size: 50%;
    }
    @include breakpoint-max("mobile") {
        font-size: 46%;
    }
}
body {
    background-color: white;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: $black;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", sans-serif;
    }
}

input[type=checkbox] {
    position: relative;
      cursor: pointer;
      outline: none;
      margin-right: 20px;
      margin-bottom: 10px;
      background-color: transparent;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: -2px;
    border: 1px solid $gold;

    background-color: $white;
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: -2px;
    border: 1px solid $gold;
}
input[type=checkbox]:checked:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    // left: 0;
    // top: 0;
    top: 8px;
    left: 8px;
    transform: translate(-50%, -50%);
    background-color: $lazure;
}

.container,
.custom-container {
    max-width: (1160 + 60) * 1px;
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
}
