//BREAKPOINTS
$v-large: 1730;
$m-large: 1520;
$large: 1360;
$xl-tablet: 1200;
$tablet: 1080;
$s-tablet: 980;
$xs-tablet: 800;
$mobile: 600;

//CONTAINER
$container: 1160;
// $container-big: 1592;

//COLORS
$black: #252525;
$white: #FFFFFF;
$gold: #DDC261;
$lightGray: #C4C4C4;
$gray: #8C8C8C;
